<b>Root</b>
<hr><br>

<!-- Pages list -->
<b>Pages:</b>
<% @pages.to_openstructs.each do |page| %>
  <li><a href="<%= page.url %>"><%= page.name %></a></li>
<% end %> <br>

<section>
  <button toggles=".create-page">Create page</button>
  <container class="create-page">
    <%= render "save_html_page" %>
  </container>
</section>
<br>

<!-- Scripts toggler -->
<section>
  <button class="<%= "start-open" if @script %>"toggles=".scripts-root">
    Scripts
  </button><br>
  <container class="scripts-root">
    <%= render "scripts_root" %>
  </container>
</section>
<br>

